{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Reset Password</legend>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New password</label>
            <input type="password" name="new_password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Repeat password</label>
            <input type="password" name="repeat_password" class="form-control" id="exampleInputPassword2">
        </div>
    </fieldset>
    <div class="form-group text-center">
        <button class="btn btn-outline-info btn-block" type="sumbit">Password Reset</button>
    </div>
</form>
{% endblock %}
